body html {
  width: 100%;
  height: 100%;
  background: black;
}

body {
  background-color: black;
  width: 100%;
  height: 90%;
  color: white;
  /* margin: 20px; */
  /* display: flex;
  justify-content: center;
  align-items:center; */
}
button {
  color: white;
  background-color: black;
  margin: 3px;
}
.video {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* .canvas {
  width: 50vw;
  overflow-wrap: break-word;
} */

.shot {
  width: 50px;
}

/* #textarea {
	width: 50vw;
} */
.photobooth {
  display: flex;
}
.control {
  margin: 20px;
  /* flex: 1; */
}
.display {
  margin-left: 200px;
  flex: 1;
}
